:root {
   --bgcolor-navbar : #383E4C;
   --bgcolor-green: #178A27;
   --bgcolor-blue: #1686C1;
   --bgcolor-red: #852406;
   --bglink: #fff;
   --primarybordercolor: #ccc;
   --titlefontcolor: #666666;
   --primaryfontcolor: #333333;
   --primaryfontsize : 1.3rem;

}
  html {
     box-sizing: border-box;


  }
  * , ::before , ::after {

    box-sizing: inherit;

  }

/* body default */
  body {
     padding: 0;
     margin: 0;


  }
/* headings */
  h1,h2,h3,h4,h5,h6 {
     margin: 0;
  }




/* navigation stylings  */
  .navbar-bg {
   background-color: var(--bgcolor-navbar);
   max-width: 100%;
   margin-top: -2rem;
  }
  nav{
   background-color: var(--bgcolor-navbar);
   max-width: 100%;
   border-top: 2px solid var(--bgcolor-navbar) ;
  }
  
  
  /* navigation section stylings end here */