:root {
   --bgcolor-navbar :  #171321;;
   --bgcolor-green: #178A27;
   --bgcolor-blue: #1686C1;
   --bgcolor-red: #852406;
   --bglink: #fff;
   --primarybordercolor: #ccc;
   --titlefontcolor: #666666;
   --primaryfontcolor: #333333;
   --primaryfontsize : 1.1rem;

}
  html {
     box-sizing: border-box;


  }
  * , ::before , ::after {

    box-sizing: inherit;

  }

/* body default */
  body {
     padding: 0;
     margin: 0;


  }
/* headings */
  h1,h2,h3,h4,h5,h6 {
     margin: 0;
  }




/* navigation stylings  */
  .navbar-bg {
   background-color: var(--bgcolor-navbar);
   max-width: 100%;
   margin-top: -2.5rem;

  }
  nav{
   background-color: var(--bgcolor-navbar);
   max-width: 100%;
   border-top: 2px solid var(--bgcolor-navbar) ;
   padding: 0 0 0.4rem  0.4rem;
  }
  
  ul,li {
     list-style-type: none;
     margin: 0;
  }

  .navbar-list {
     display: flex;
     align-content: center;
     justify-content: center;
      flex-flow:row wrap;
      gap: 3rem;
      padding: 0.3rem;
      


  }

  .navbar-item{
     font-size: 1.2rem;
     padding: 0  1rem 1rem 0;
     
  }
  a {
   padding: 1rem 2rem 2rem 1rem;
   text-decoration: none;
   color: #fff;
   font-weight: bold;
   font-size: var(--primaryfontsize);
   padding:  0.8em 2.1em;
   
  }
  
  nav [ class *="navbar-item"]{
     border:1px ridge var(--primarybordercolor);
  }

  /* logo styling */
  

  nav a [class*="fas fa-"]{
     font-size: 150%;
     color: #e4a914;
     margin: 0.3rem 0 0 0.1rem;
    
   
  }
  
  /* logo styling ends here */
  /* navigation section stylings end here */