:root {
   --bgcolor-navbar : #383E4C;
   --bgcolor-green: #178A27;
   --bgcolor-blue: #1686C1;
   --bgcolor-red: #852406;
   --bglink: #fff;
   --primarybordercolor: #ccc;
   --titlefontcolor: #666666;
   --primaryfontcolor: #333333;
   --primaryfontsize : 1.3rem;




   




}